*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#filmes {
    margin: 0 aut-o;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.filmes {
    margin: 10px;
}